'.source.js, .source.jsx':
  'Vizality Plugin':
    'prefix': 'vzp'
    'body': """
      import { Plugin } from '@vizality/entities';

      export default class ${1:MyPlugin} extends Plugin {
        start () {
          $2
        }

        stop () {
          $3
        }
      };
    """
  'Vizality Injection':
    'description': 'Injects a function into a webpack module.'
    'prefix': 'vzi'
    'body': """
      patch(${1:WebpackModule}, ${2:'render'}, (${3:args}, ${4:res}) => {
        $5
      });
    """
