'.source.js':
  'Vizality Plugin':
    'prefix': 'vzp'
    'body': """
      import { Plugin } from '@vizality/entities';

      export default class ${1:MyPlugin} extends Plugin {
        start () {
          $2
        }

        stop () {
          $3
        }
      };
    """
  'Vizality Injection':
    'description': 'Injects a function into a webpack module.'
    'prefix': 'vzi'
    'body': """
      patch(${1:WebpackModule}, ${2:'render'}, (${3:args}, ${4:res}) => {
        $5
      });
    """
  'React Component':
    'prefix': 'vzc'
    'body': """
      import React from 'react';

      export default (props) => {
        const { $1 } = props;

        return (
          $2
        );
      };
    """
  'React Memoized Component':
    'description': 'Supposedly faster, good practice to use.'
    'prefix': 'vzmc'
    'body': """
      import React, { memo } from 'react';

      export default memo((props) => {
        const { $1 } = props;

        return (
          $2
        );
      });
    """
  'Vizality Settings Component':
    'description': '(Memoized)'
    'prefix': 'vzsc'
    'body': """
      import React, { memo } from 'react';

      export default memo(({ getSetting, updateSetting, toggleSetting }) => {
        return (
          $1
        );
      });
    """
